.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 144rem;
    margin: 4rem auto 0;
    padding: 0 6rem;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}