.main-footer {
    height: 16.65rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 19.3rem;
}

.main-footer .thumbnail,
.main-footer .thumbnail img {
    display: block;
    height: 100%;
}

.main-footer .view-more {
    width: 43.7rem;
    height: 100%;
}