.main-action {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}