.view-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    background-color: #000;
}

.view-more::after {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(../../img/arrow.png);
    background-repeat: no-repeat;
}